.articleCont{
    width: 70%;
    
}.articleTitle{
    font-size: 4.5vw;
    width: 100%;
    margin: 200px 0 50px 0;
    font-weight: 700;
line-height: 100%; /* 55.2px */
letter-spacing: -1px;
}
.articleSubTtitle{
    font-size: 2vw;
    margin-bottom: 50px;
}
.articleContent{
    font-size: 1.2rem;
    font-style: normal;
}
.imagePost{
    width: 80%;
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bold{
    font-size: 1.3rem;
font-style: normal;
font-weight: 700;
}
.justifiedParagraph { 
    font-size: 1.3rem;
    line-height: 30px;
    white-space: pre-wrap;
    margin-bottom: 25px;
  }
  
 @media only screen and (max-width: 1300px){
    .imagePost{
        margin: 30px 0;
        width: 100%;
    }
    .justifiedParagraph{
        font-size: 1.2rem;
        line-height: 27px;
    }
    .articleSubTtitle{
        font-size: 2vw;
        margin-bottom: 25px;
    }
    .articleTitle{
        
        width: 100%;
        margin: 150px 0 30px 0;
    }
 }
 @media only screen and (max-width: 768px){
    .bold{
        font-size: 1.1rem;
    font-style: normal;
    font-weight: 700;
    }
    .justifiedParagraph{
        font-size: 1.2rem;
        line-height: 27px;
    }
    .articleSubTtitle{
        font-size: 3vw;
        margin-bottom: 30px;
    }
    .bold{
        font-size: 3vw;
    }
 }
 @media only screen and (max-width: 768px){
    .justifiedParagraph{
        line-height: 23px;
    }
 }
