.partner{
    width: 30%;
    margin-top: 70px;
  }
  .partnersBgImage{
    background-image: url("../../../../public/partners-bg.png");
    background-position: center;
    background-size: cover;
    }
    .custom-container {
        width: 90vw;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin:auto;
      }
      .uspTitleSize{
        font-size: 2.6rem;
        margin-left: 5%;
      }
      .partner-link-size{
        font-size: 2rem;
      }
      .partnerHeight{
        max-height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
       }
      @media only screen and (min-width: 1024px)  {
      .uspTitleSize{
        font-size: 5rem;
      }
      }