@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-slideshow-image/dist/styles.css";

body {
  @apply bg-black

}


/******************************************* 
  Rich Text Styles
*******************************************/ 


/* Your CSS stylesheet */




/* Headers */
.rich-text h1 {
  @apply text-4xl font-bold mb-4 text-violet-400;
}

.rich-text h2 {
  @apply text-3xl font-bold mb-4 text-violet-400;
}

.rich-text h3 {
  @apply text-2xl font-bold mb-4 text-violet-400;
}

.rich-text h4 {
  @apply text-xl font-bold mb-4 text-violet-400;
}

.rich-text h5 {
  @apply text-lg font-bold mb-4 text-violet-400;
}

.rich-text h6 {
  @apply text-base font-bold mb-4 text-violet-200;
}

/* Horizontal rules */
.rich-text hr {
  @apply border-gray-300 my-8;
}

.rich-text a {
  @apply text-violet-400 underline;
}

/* Typographic replacements */
.rich-text p {
  @apply mb-4;
}
.heroTitle{
  font-size: 30px;
  line-height: 40px
  
}
/* Emphasis */
.rich-text strong {
  @apply font-bold;
}

.rich-text em {
  @apply italic;
}

.rich-text del {
  @apply line-through;
}

/* Blockquotes */
.rich-text blockquote {
  @apply border-l-4 border-gray-400 pl-4 py-2 mb-4;
}

/* Lists */
.rich-text ul {
  @apply list-disc pl-4 mb-4;
}

.rich-text ol {
  @apply list-decimal pl-4 mb-4;
}

.rich-text li {
  @apply mb-2;
}

.rich-text li > ul {
  @apply list-disc pl-4 mb-2;
}

.rich-text li > ol {
  @apply list-decimal pl-4 mb-2;
}

/* Code blocks */
.rich-text pre {
  @apply font-mono bg-gray-900 text-gray-100 rounded p-4  my-6;
}

.rich-text code {
  @apply font-mono bg-gray-900 text-gray-100 rounded px-2 py-1;
}

/* Tables */
.rich-text table {
  @apply w-full border-collapse border-gray-300 my-6;
}

.rich-text th {
  @apply bg-gray-900 text-left py-2 px-4 font-semibold border-b border-gray-300;
}

.rich-text td {
  @apply py-2 px-4 border-b border-gray-300;
}

/* Images */
.rich-text img {
  @apply w-full object-cover rounded-xl my-6;
}

/* Custom containers */
.rich-text .warning {
  @apply bg-yellow-100 border-yellow-500 text-yellow-700 px-4 py-2 rounded-lg mb-4;
}


/******************************************* 
  React Slideshow Styles
*******************************************/   

.react-slideshow-container [aria-label="Previous Slide"] {
  margin-left: 1rem;
}

.react-slideshow-container [aria-label="Next Slide"] {
  margin-right: 1rem;
}


  /* Custom */
  
  .button-bg-yellow {
    background-color: #faff00; 
   
  }

  .button-bg-black {
    background-color: #000000; 
   
  }
  .bg-blackish-gray {
    background-color: #232323; 
    color: white ;
  }

  .bg-yellow-field {
    background-color: #FAEB00; 
    color: rgb(0, 0, 0) ;
  } 
  
  .bg-blackish-gray::placeholder {
    color: rgb(204, 204, 204); 
  }
  @media (min-width: 992px) {
    .responsive-widget {
      width: 600px; /* This will only apply on 'lg' screens and up */
    }
  }

  @media screen and (min-width: 1024px){
  .lower-text-container { 
   margin-top: 250px; 
    }
  
    .hero-title-width{
      width: 50%;
    }
    .vertical-width{

      width: 50%; 
     }
  }

    @media screen and (max-width: 1024px){
      .image-hero img{ 
        display: none; 
      }
      .image-hero {
        margin-bottom: 0px; 
      }
      .nav-bar-mobile-padding
      {
        margin-top: 15px; 
      }
      
    }
    
    @media screen and (min-width: 1024px){
      .height-small-hero{ 
        height: 400px;
      }
      .image-intro{
        
          position: absolute;
          margin-left: 500px;
          height: 40rem;
      
      }
      .image-right-intro{
        
        position: absolute;
        height: 30rem;
        right: 9vw;
        top: -67px;
    
      }
    }
    @media only screen and (min-width: 2300px)  {
      .image-right-intro{
        
        position: absolute;
        height: 30rem;
        right: 10vw;
        top: -67px;
    
    }
    }


.intro-position{
  position: relative;
}
    .vertical-bg-image{
    background-image: url("../../../public/vertical-bg.png");
    background-position: center;
    background-size: cover;
    }
    .large-bg-image{
      background-image: url("../../../public/large-background.png");
      background-position: center;
      background-size: cover;
      }
      
        .engagements-bg-image{
          background-image: url("../../../public/engagements-bg.png");
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
          }

    .icon-size {
      width: 40px; /* Adjust the width as needed */
      height: 40px; /* Adjust the height as needed */
    }


    @font-face {
      font-family: 'Bold';
      src: url('../../../public/fonts/fliggsROMExtended-Bold.woff') format('woff');
    }

    @font-face {
      font-family: 'Book';
      src: url('../../../public/fonts/fliggsROMExtended-Book.woff') format('woff');
    }
    @font-face {
      font-family: 'BarlowRegular';
      src: url('../../../public/fonts/Barlow-Regular.ttf') ;
    }
    @font-face {
      font-family: 'BarlowSemiBold';
      src: url('../../../public/fonts/Barlow-SemiBold.ttf')
    }

    .custom-font-bold {
      font-family: 'Bold'; 
    }
    .custom-font-book {
      font-family: 'Book'; 
    }
    .custom-font-barlow {
      font-family: 'BarlowRegular'; 
      font-size: 1.3rem;
    }
    .custom-font-barlow-semibold {
      font-family: 'BarlowSemiBold'; 
    }

    .video-background {
     position:relative;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .video-background-mobile-true {
      position:relative;
       width: 100%;
       height: 100%;
       object-fit: cover;
     }
     
    
    
    .content {
      top: 23%;
      left: 0;
      right: 0;
      position: absolute;
      -o-object-fit: cover;
      object-fit: cover;
      width: 90vw;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .content-mobile-true {
    top: 23%;
    left: 5%;
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

  .custom-width-hero-text {
    max-width: 50%;
  }

  

  .btn_submit  {
    width: 50%;
  }
  .form_group_reg{
    width: 25%;
  }
  .form_group_reg_contact{
    width: 50%;
  }
  
 
 
  @media only screen and (max-width: 1024px)  {
    .display-custom-container {
      width: 90vw;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin: auto;
  }
    .video-background video{
      display: none;

     }

     .content {
      position: static;
      padding-bottom: 300px;
     }
    .video-background{
      background: rgb(0,0,0);
      background: linear-gradient(167deg, rgba(0,0,0,1) 0%, rgb(24 22 22) 23%, rgb(41 37 37) 42%, rgb(69 67 67) 66%, rgb(93 93 93) 84%, rgb(87 86 86) 100%)
    }
    .form_group_reg{
      width: 100%;
    }

    .custom-width-hero-text {
      max-width: 100%; 
    }

  }

  .dark-placeholder::placeholder {
    color: rgb(63, 63, 63);
  }

.display-image-size{
  min-width: 100%;
  min-height: 100%;
}

  @media only screen and (min-width: 1024px)  {
    .usp-text-width{
      width: 55%;
    }
    .news-title-width{
      width: 80%;
    }
  }
  .numbers-text {
    width: 60%;
    /* padding: 90px 50px; */
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 
  } 
  .numbers-text-right { 
    width: 60%;
    /* padding: 90px 50px; */
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
  } 
  .infos-text {
    width: 60%;
     padding: 90px 50px; 
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain; 
  } 
  .infos-text-right { 
    width: 60%;
     padding: 90px 50px; 
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; 
  } 
  @media (max-width: 1024px) {
    .background-size-80 {
      background-size: 80%;
    }
    .feature-font-size{
      font-size: 4rem;
      width: 70%;
    }
    .news-date-size{
      font-size: 1.7rem;
    }
    .numbers-text {
      width: 100%;
      /* padding: 90px 50px; */
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; 
    } 
    .numbers-text-right { 
      width: 100%;
      /* padding: 90px 50px; */
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; 
    } 
    .infos-text {
      width: 100%;
       padding: 90px 10px; 
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; 
    } 
    .infos-text-right { 
      width: 100%;
       padding: 90px 10px; 
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain; 
    
  }
  }

  .feature-title-padding{
    padding: 0 35% 0 5%;
    line-height: 80px;
    
  }
  @media (min-width: 1024px) {
 
    .news-date-size{
      font-size: 8rem;
    }
    .feature-font-size{
      font-size: 5.5rem;
    }
    .large-bg-text-width{
      width: 50rem;
    }
  }

  .social-icons{
    margin-right: 100px;
  }
  .icon{
    width: 70px;
  }
  @media (max-width: 800px) {
    .social-icons{
      margin-right: 50px;
    }
    .icon{
      width: 40px;
    }
  }
@media (max-width: 660px) {
  .social-icons{
    margin-right: 35px;
  }
  .icon{
    width: 40px;
  }
}


  .usp-text {

    padding: 170px 185px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: auto; */
} 


.numbtext{
  font-size: 1.5rem;
  font-weight: 400;
}
.usp-text-feature {

  padding: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: auto; */
} 

.align-usp-right{
  margin-left: auto;

}
.font-spacing {
  letter-spacing: 1.8px;
}
.big-hero-text{
  font-size: 3.75rem;
  width: 70%;
      
     }
     .large-bg-text{
      font-size: 5rem;
         }
@media (max-width: 1024px) {
  .space-height{
    height: 50px;
  }

  .big-hero-text{
font-size: 2.25rem;
    width: 100%;
   }

   .large-bg-text{
    font-size: 2.7rem;
       }
  .hero-text{

   font-size: 3.75rem; 
  }

  .display-title{
    font-size: 4vh; 
    text-align: start;
    padding-top: 30px;
  }
  .display-small-title{
    font-size: 1.5rem; 
    text-align: start;
  }
  .usp-title-size{
    font-size: 2.6rem;
  }
  .partner-link-size{
    font-size: 2rem;
  }
  .engagement-title-size{
    font-size: 1.3rem;

  }
  .feature-title-size{
    font-size: 2.3rem;
    line-height: 45px;
  }


}

.padding-engagement{
padding-top: 80px;  
}
.bg-blackish-margin {
  margin-top: 2vh;
}
@media (min-width: 1024px) {
  .space-height{
    height: 180px;
  }
  .hero-text{
    width: 200%;
    font-size: 5.75rem; 
    position: relative;
   }
   .display-title{
    font-size: 4rem; 
    width: 200%;
    line-height: 75px;
    position: relative;
    padding-top: 30px;




  }
  .display-small-title{
    font-size: 2.5rem; 
    width: 150%;
    line-height: 50px;
    position: relative;
  }
.hero-image-height{
   height: 29rem;}

   .partner-link-size{
    font-size: 3.5rem;
  }
  .engagement-title-size{
    font-size: 2.0rem;
  }
  .usp-title-size{
    font-size: 5rem;
  }
  .feature-title-size{
    font-size: 4rem;
    line-height: 68px
  }

  .bg-blackish-margin{
    margin-top: 50vh;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px)   {
  .feature-title-size{
    line-height: 50px;
    font-size: 2.5rem;
  }
  .feature-title-padding{
    padding: 0 0% 0 5%;
  }
}
.display-component{
  /* background-image: url('../../../public/main-announcement-bg.jpg');
  background-position: center;
  background-size: cover;
  background-position: top; */
  height: 120vh;
  display: flex;
  align-items: center;  
  padding-top: 10%;
  
}
.image-slider{
  height: 160vh;
  position: relative;
}
.slider-container{
  display: flex;
  justify-content: center;


}

.control-dots{
  display: none;
}
.flat{
  position: absolute;
  top: 10%;
}
.display-content-component{
  background-position: top;
  background-size: cover;
  /* padding-left: 15%; */
}

.bg-blackish {
  background-color: #333; /* You can adjust the color code to your preference */
}
.bg-gray {
  background-color: #232323; /* You can adjust the color code to your preference */
}
.bg-yellow {
  background-color: #FAFF00; /* You can adjust the color code to your preference */
}
.big-hero-height{
  height: 700px;
  display: flex;
  
}
.hero-bg{
  background-image: url("../../../public/Group.jpg");
    background-position: center;
    background-size: cover;
}
.sticky-nav{
  width: 100%;
  z-index: 99999;
}
.news-bg{
  background-image: url("../../../public/pixelbackground-news.png");
    background-position: center;
    background-size: cover;
}
/* Initially hide both boxes */
.yellow-box, .gray-box {
  visibility: hidden;
  align-items: center;
  justify-content: center;
}

/* Apply hover styles to the container element */
.container:hover .yellow-box {
  visibility: visible;
  background-color: #FAFF00;
  color: rgb(0, 0, 0);
}

.container:hover .gray-box {
  visibility: visible;
  background-color: #D9D9D9;
  color: white;
}

.news-box {
  background-color: #FAFF00; /* Yellow background color */
  color: rgb(0, 0, 0); /* Text color */
  display: flex; /* Use flexbox */

  padding: 15px; /* Adjust the padding as needed */
}

.news-box-background-yellow {
  background-color: #FAFF00; }
  .news-box-background-black {
    background-color: rgb(0, 0, 0);  }

.news-theme-Yellow{
  background-color: #FAFF00;
}
.news-theme-title-Yellow{
  color: #FAEB00;
}


.news-theme-Dark{
  background-color: #141414;
}
.news-theme-title-Dark{
  color: rgb(0, 0, 0); 
}

.news-theme-Light{
  background-color: #D9D9D9;
}
.news-theme-title-Light{
  color: rgb(255, 255, 255); 
}


@media only screen and (max-width: 1024px)   {

.custom-news-card{
  padding: 20px;
  width: 70%;
}

.news-card-container{
  flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-image-container{
  width: 83vw;
    padding: 0;
    padding-bottom: 25px;
}
.img-large-bloc{
  width: auto;
}
}

@media only screen and (min-width: 1025px) and (max-width: 1770px)   {
  .custom-news-card{
    padding: 20px;
    width: 80%;
  }
}
  @media only screen and (max-width: 1180px)    {
    .news-date-size{
      font-size: 1.5rem;
    }
  }
    @media only screen and (max-width: 1023px) and (min-width:771px)   {
      .feature-title-padding{
        padding: 0 10% 0 2% ;
        font-size: 3rem;
        line-height: 50px;
      }

    }
      @media only screen and (max-width: 770px)    {

  .feature-title-padding{
    padding: 0 0 0 40px;
    font-size: 2.5rem;
    line-height: 40px;
  }
  
  }
  @media only screen and (max-width: 534px)    {

    .feature-title-padding{
      padding: 0 5% 0 30px;
      font-size: 1.8rem;
      line-height: 30px;
    }
    
    }

   
   .engagements-height{
    max-height: 150px;
   }

   .custom-container {
    width: 90vw;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin:auto;
  }
   .read-more-text{
    color: #FAFF00;
    text-align: center;
    padding-top: 100px;
    display: block;
    font-size: 18px;
    /* position: relative;
    width: fit-content; */
    padding-left: 0;
    padding-right: 0;
    margin: auto;
   }
   .read-more{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    /* margin-bottom: 100px; */
   }
   .read-more-mobile{

   }
   /* a.read-more-text::after {
    content: ' ';
    width: 100px;
    height: 100px;
     background: red; 
    position: absolute;
    bottom: 0;
    left: 20px;
    background-image: url(../../../public/arrow-down.png);
    background-position: center;
    background-size: contain;
} */
.box{
  width: 40%;
  display: flex;
  margin-left: 320px;

}
   .arrow{
   width: 50px;
    
  }

  .video-border{
    border-radius: 41px;
  }
  @media only screen and (min-width: 1024px)  {
    .features-margins{
      max-width: 80vw;
      margin-top: 15vh;
    }
    .display-custom-container {
      width: 1000px;
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin: auto;
  }
  }
  @media screen and (max-width: 1020px) {
    .display-component{
      height: 80vh;
      
    }


  .read-more-mobile{
    margin-bottom: 200px;
  }

  .features-margins{
    width: 90%;
    margin-bottom: 20vw;
    margin-top: 10vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.align-items-left{
  align-items: end;
  text-align: end;
}
.notfound{
  font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 25vh;
    text-align: center;
}
@media only screen and (max-width: 1748px)   {
  /* .image-slider{
    height: 115vh;
  } */
}
@media only screen and (max-width: 1325px)   {
  /* .image-slider{
    height: 100vh;
  } */
  /* .flat{
    top: 10%;
  } */
  .read-more-text{
    padding-top: 30px;
  }
}
@media only screen and (max-width: 984px)   {
  .image-slider{
    height: 80vh;
  }
  .arrow{
    width: 35px;
    margin-bottom: 50px;
     
   }
   
  
}
@media only screen and (max-width: 1024px)   {
  .read-more{
    display: none;   
    }
    .h-screen{
      height: 70vh;
    }
}

@media only screen and (max-height: 790px) and (max-width: 450px)  {
  .bg-blackish-margin{
    margin-top: 15vh;
  }
}

.features-margins{
  margin-bottom: 20vw;
  margin-top: 15vw;
}
@media only screen and (max-width: 660px)   {
  .engagements-bg-image {
    background-image: none;
  }
}

@media only screen and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) {
  .image-right-intro, .image-right-intro video {
    display: none !important;
    visibility: hidden !important;
  }
}
@media only screen and (min-width: 1725px)   {
  .numTitle{
    margin-left: 9vw;
  }
}